@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}
